<!--Copyright (c) 2014 ICRL

See the file license.txt for copying permission.-->
<form id="myForm" name="myForm" >
    <div class="form-group row" ng-class="{error: myForm.description.$invalid && !myForm.description.$pristine}">
        <label for="description" class="col-xs-2 col-xs-offset-2">Description</label>
        <input id="description" name="description" class="form-group col-xs-6" ng-model="project.description"/>
    </div>

    <div class="form-group row" ng-class="{error: myForm.importance.$invalid && !myForm.importance.$pristine}">
        <label for="importance" class="col-xs-2 col-xs-offset-2">Importance</label>
        <select id="importance" class="form-group" name="importance" ng-model="project.importance" ng-options="importance.name for importance in importances" required></select>
    </div>

    <div class="form-group text-center" ng-class="{error: myForm.description.$invalid && !myForm.description.$pristine}">
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Save</button>
        <button ng-click="destroy()" ng-show="project.$id" class="btn btn-danger">Delete</button>
    </div>
</form>
