<!--Copyright (c) 2014 ICRL

See the file license.txt for copying permission.-->

<!--<a ng-click="signout()" class="pull-right">Logout <i class="icon-large icon-settings"></i></a>-->

<label>
    <span class="text-warning"> {{remaining()}} of {{todoProjects.length}} remaining</span>,
    <span class="text-success">{{archivedProjects.length}} archived</span>
</label>

<!--<button ng-click="showTodo()" ng-show="showType!='TODO'" class="btn btn-primary btn-sm">Show Todo</button>-->
<!--<button ng-click="showFinished()" ng-show="showType!='ARC'" class="btn btn-primary btn-sm">Show Finished</button>-->


<tabset>
    <tab heading="Todo">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-xs-9">Description</th>
                <th class="col-xs-2">Importance</th>
                <th class="col-xs-1"><a href="#/new"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in todoProjects | filter:search | orderBy:'name'" >
                <td class="done-{{project.done}}">{{project.description}}</td>
                <td>{{project.importance.name}}</td>
                <td>
                    <a ng-href="#/edit/{{showType}}/{{project.$id}}"><i class="glyphicon glyphicon-pencil"></i></a>
                    <input type="checkbox" ng-model="project.done" ng-click="updateDone(project)">
                </td>
                {{ project.id }}
            </tr>
            </tbody>
        </table>
        <button ng-click="archive()"  class="btn btn-primary btn-sm">Archive Finished</button>
    </tab>

    <tab heading="Archived">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-xs-9">Description</th>
                <th class="col-xs-3">Importance</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in archivedProjects | filter:search | orderBy:'name'" >
                <td>{{project.description}}</td>
                <td>{{project.importance.name}}</td>
                {{ project.id }}
            </tr>
            </tbody>
        </table>
        <hr />
        <!--<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>-->
    </tab>



    <!--<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">-->
    <!--{{tab.content}}-->
    <!--</tab>-->
    <!--<tab select="alertMe()">-->
    <!--<tab-heading>-->
    <!--<i class="glyphicon glyphicon-bell"></i> Alert!-->
    <!--</tab-heading>-->
    <!--</tab>-->
</tabset>

