/*Copyright (c) <year> ICRL

See the file license.txt for copying permission.*/
body{
    width: 600px;
    height: 500px;
}
.done-true {
  text-decoration: line-through;
  color: grey;
}
#myForm{
    margin-top: 50px;
}
body{padding-top:20px;}


.glyphicon-lg{
    font-size: 1.5em;
}
.padright-sm{
    padding-right: 10px;
}
.navbar{
    min-height:25px;
    background-color: white;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
}
.main-content{
    margin-top: 20px;
}
.container .dropdown a{
    margin-left: 10px;
}
.navbar .search-query{
    margin-bottom: 2px;
}
