<!--Copyright (c) 2014 ICRL

See the file license.txt for copying permission.-->
<!doctype html>
<html ng-app="project">
    <head>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/bootstrap.icon-large.min.css"/>
        <link rel="stylesheet" href="popup.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="js/ui-bootstrap-tpls-0.11.2.js"></script>
        <script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
        <script src="project.js"></script>
    </head>
    <body ng-controller="appCtrl">
        <!--<h2 class="text-center">Todo List</h2>-->

        <header class="navbar navbar-default navbar-fixed-top">

            <div class="navbar-inner">
                <div class="container">
                    <a ng-click="filter()"><i class="glyphicon glyphicon-lg glyphicon-search"></i></a>
                    <input type="text" ng-model="filterWord" ng-enter="filter()" class="search-query" placeholder="Search">


                    <span class="dropdown pull-right" on-toggle="">
                        <a ng-href="#/list" class="glyphicon glyphicon-lg glyphicon-home"></a>
                        <a class="dropdown-toggle">
                            <!--<i class="icon-large icon-settings"> </i>-->
                            <i class="glyphicon glyphicon-cog glyphicon-lg"> </i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="signout()">Logout
                                    <i class="glyphicon glyphicon-log-out"></i>
                                </a>
                            </li>
                            <li><a ng-href="#/changepass">Change Password</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </header>


        <!--<alert ng-repeat="alert in alerts" type="{{alert.type}}" >{{alert.msg}}</alert>-->

        <!--<a ng-href="#">Go back</a>-->
        <div class="main-content" ng-view></div>

        <!--<div ng-controller="SampleCtrl">
            <div ng-show="auth.user">
                <p>Hello, {{auth.user.displayName}}</p>
                <button ng-click="auth.$logout()">Logout</button>
            </div>
            <div ng-hide="auth.user">
                <p>Welcome, please log in.</p>
                <button ng-click="auth.$login('facebook')">Login</button>
            </div>
        </div>-->
    </body>
</html>
